In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
x_train = pd.read_csv('./x_train.csv', index_col='ID')
y_train = pd.read_csv('./y_train.csv', index_col='ID')
test = pd.read_csv('x_test.csv', index_col='ID')
#concaténation des deux dataframes pour le préprocessing sur la colonne ID
data = pd.concat([x_train, test], axis=0)
data.head()

,DATE,STOCK,INDUSTRY,INDUSTRY_GROUP,SECTOR,SUB_INDUSTRY,RET_1,VOLUME_1,RET_2,VOLUME_2,...,RET_16,VOLUME_16,RET_17,VOLUME_17,RET_18,VOLUME_18,RET_19,VOLUME_19,RET_20,VOLUME_20
ID,,,,,,,,,,,,,,,,,,,,,
0,0,2,18,5,3,44,-0.015748,0.147931,-0.015504,0.179183,...,0.059459,0.630899,0.003254,-0.379412,0.008752,-0.110597,-0.012959,0.174521,-0.002155,-0.000937
1,0,3,43,15,6,104,0.003984,NaN,-0.090580,NaN,...,0.015413,NaN,0.003774,NaN,-0.018518,NaN,-0.028777,NaN,-0.034722,NaN
2,0,4,57,20,8,142,0.000440,-0.096282,-0.058896,0.084771,...,0.008964,-0.010336,-0.017612,-0.354333,-0.006562,-0.519391,-0.012101,-0.356157,-0.006867,-0.308868
3,0,8,1,1,1,2,0.031298,-0.429540,0.007756,-0.089919,...,-0.031769,0.012105,0.033824,-0.290178,-0.001468,-0.663834,-0.013520,-0.562126,-0.036745,-0.631458
4,0,14,36,12,5,92,0.027273,-0.847155,-0.039302,-0.943033,...,-0.038461,-0.277083,-0.012659,0.139086,0.004237,-0.017547,0.004256,0.579510,-0.040817,0.802806

In [7]:
# 1.1 Valeurs manquantes
print("Valeurs manquantes par colonne :\n", data.isnull().sum())

# 1.2 Statistiques descriptives globales
print("\nStatistiques descriptives (numériques) :\n", data.describe())

Valeurs manquantes par colonne :
 DATE                   0
STOCK                  0
INDUSTRY               0
INDUSTRY_GROUP         0
SECTOR                 0
SUB_INDUSTRY           0
RET_1               2367
VOLUME_1           92215
RET_2               2482
VOLUME_2           91780
RET_3               2529
VOLUME_3           95190
RET_4               2577
VOLUME_4          100196
RET_5               2626
VOLUME_5          105788
RET_6               2642
VOLUME_6          105816
RET_7               2631
VOLUME_7          104962
RET_8               2667
VOLUME_8          105018
RET_9               2722
VOLUME_9          104426
RET_10              2752
VOLUME_10         102558
RET_11              4014
VOLUME_11         100310
RET_12              3352
VOLUME_12          87883
RET_13              3634
VOLUME_13          84494
RET_14              6075
VOLUME_14          89542
RET_15              7009
VOLUME_15          95307
RET_16              6605
VOLUME_16          93613
RET_17              6699
VOLUME_17          90487
RET_18              6889
VOLUME_18          94077
RET_19              6889
VOLUME_19          99462
RET_20              6916
VOLUME_20          96468
dtype: int64

Statistiques descriptives (numériques) :
                 DATE          STOCK       INDUSTRY  INDUSTRY_GROUP  \
count  617024.000000  617024.000000  617024.000000   617024.000000
mean      111.616835    3242.089852      37.132186       12.685372
std        64.534545    1596.944213      19.838902        7.274888
min         0.000000       0.000000       0.000000        0.000000
25%        56.000000    2235.750000      22.000000        6.000000
50%       112.000000    3427.000000      43.000000       15.000000
75%       167.000000    4546.000000      53.000000       19.000000
max       223.000000    5716.000000      74.000000       26.000000

              SECTOR   SUB_INDUSTRY          RET_1       VOLUME_1  \
count  617024.000000  617024.000000  614657.000000  524809.000000
mean        5.486399      90.258512       0.001070      -0.077148
std         2.431682      47.774282       0.030894       3.832880
min         0.000000       0.000000      -0.845324      -2.434414
25%         4.000000      49.000000      -0.010736      -0.540426
50%         6.000000     104.000000       0.000809      -0.276540
75%         7.000000     128.000000       0.012778       0.036416
max        11.000000     182.000000       1.444990    1830.743520

               RET_2       VOLUME_2  ...         RET_16      VOLUME_16  \
count  614542.000000  525244.000000  ...  610419.000000  523411.000000
mean        0.001196      -0.079568  ...       0.001561      -0.111973
std         0.030828       4.368497  ...       0.029680       2.668332
min        -0.770751      -3.007262  ...      -0.915972      -6.547718
25%        -0.010917      -0.530512  ...      -0.009972      -0.538805
50%         0.000762      -0.274580  ...       0.000841      -0.274355
75%         0.012663       0.032521  ...       0.012445       0.023468
max         2.768073    2133.470634  ...       1.033577     835.819239

              RET_17      VOLUME_17         RET_18      VOLUME_18  \
count  610325.000000  526537.000000  610135.000000  522947.000000
mean        0.001532      -0.088217       0.000492      -0.091087
std         0.031422       2.869780       0.030904       2.621214
min        -0.853511      -9.269120      -0.876157      -4.167784
25%        -0.011071      -0.548715      -0.011505      -0.540362
50%         0.000595      -0.282592       0.000000      -0.282555
75%         0.012766       0.023771       0.011877       0.021082
max         1.707736     724.564740       6.000004     788.461460

              RET_19      VOLUME_19         RET_20      VOLUME_20
count  610135.000000  517562.000000  610108.000000  520556.000000
mean       -0.000674      -0.086924      -0.001080      -0.085753
std         0.031063       2.919905       0.032825       3.614027
min        -0.922714      -4.152110      -0.785714      -2.768928
25%        -0.012480      -0.527507      -0.012876      -0.535880
50%        -0.000548      -0.275900       0.000000      -0.279779
75%         0.010843       0.030072       0.011182       0.029382
max         3.494360    1464.898780       7.208859    1875.143048

[8 rows x 46 columns]

In [10]:
# 1.3 Nombre d’observations attendu vs réel
print(f"\nNombre d’observations x_train:{x_train.shape[0]}")
print(f"Nombre d’observations x_test :{test.shape[0]}")

# 1.4 Types de colonnes
print("\nTypes de données par colonne :\n", data.dtypes)

Nombre d’observations x_train:418595
Nombre d’observations x_test :198429

Types de données par colonne :
 DATE                int64
STOCK               int64
INDUSTRY            int64
INDUSTRY_GROUP      int64
SECTOR              int64
SUB_INDUSTRY        int64
RET_1             float64
VOLUME_1          float64
RET_2             float64
VOLUME_2          float64
RET_3             float64
VOLUME_3          float64
RET_4             float64
VOLUME_4          float64
RET_5             float64
VOLUME_5          float64
RET_6             float64
VOLUME_6          float64
RET_7             float64
VOLUME_7          float64
RET_8             float64
VOLUME_8          float64
RET_9             float64
VOLUME_9          float64
RET_10            float64
VOLUME_10         float64
RET_11            float64
VOLUME_11         float64
RET_12            float64
VOLUME_12         float64
RET_13            float64
VOLUME_13         float64
RET_14            float64
VOLUME_14         float64
RET_15            float64
VOLUME_15         float64
RET_16            float64
VOLUME_16         float64
RET_17            float64
VOLUME_17         float64
RET_18            float64
VOLUME_18         float64
RET_19            float64
VOLUME_19         float64
RET_20            float64
VOLUME_20         float64
dtype: object

In [14]:
# 2.1 Distribution de la cible
ret_counts = y_train['RET'].value_counts().sort_index()
print("\nRépartition des classes RET :\n", ret_counts)

Répartition des classes RET :
 RET
False    209749
True     208846
Name: count, dtype: int64

In [15]:
# 2.2 Statistiques descriptives RET_1…RET_20 et VOLUME_1…VOLUME_20
cols_ret    = [f"RET_{i}"    for i in range(1,21)]
cols_volume = [f"VOLUME_{i}" for i in range(1,21)]

print("\nStatistiques RET_1–RET_20 :\n", x_train[cols_ret].describe().T[['mean','std','min','max']])
print("\nStatistiques VOLUME_1–VOLUME_20 :\n", x_train[cols_volume].describe().T[['mean','std','min','max']])

# 2.3 Cardinalité des variables catégorielles
cat_cols = ['STOCK','INDUSTRY','INDUSTRY_GROUP','SUB_INDUSTRY','SECTOR']
for c in cat_cols:
    print(f"{c} : {x_train[c].nunique()} catégories")

Statistiques RET_1–RET_20 :
             mean       std       min         max
RET_1   0.001383  0.031311 -0.845324    1.444990
RET_2   0.000973  0.030987 -0.770751    1.427746
RET_3   0.002153  0.031332 -0.740406    3.086617
RET_4  -0.000679  0.031224 -0.863554    2.243749
RET_5   0.000358  0.031886 -0.792839    1.491705
RET_6  -0.000261  0.031311 -0.723077    2.810885
RET_7   0.000330  0.030966 -0.660297    1.512062
RET_8   0.000124  0.031707 -0.806159    2.290456
RET_9  -0.000621  0.032899 -0.896307    2.471602
RET_10  0.000005  0.031689 -0.753419    1.999950
RET_11 -0.000781  0.030733 -0.755627    1.355075
RET_12  0.000914  0.187321 -0.807084  118.999563
RET_13  0.001349  0.032356 -0.828125    1.722330
RET_14  0.002468  0.030380 -0.827586    1.285713
RET_15  0.001846  0.032575 -0.816000    1.619833
RET_16  0.001074  0.029538 -0.765478    1.028902
RET_17  0.001642  0.031914 -0.825014    1.707736
RET_18  0.001131  0.031435 -0.876157    6.000004
RET_19 -0.000798  0.030738 -0.880000    2.954430
RET_20 -0.000027  0.033347 -0.785714    7.208859

Statistiques VOLUME_1–VOLUME_20 :
                mean       std       min          max
VOLUME_1  -0.071502  3.038658 -2.434414  1232.174009
VOLUME_2  -0.075230  2.635549 -3.007262   632.268279
VOLUME_3  -0.097235  2.490831 -3.370420   938.408298
VOLUME_4  -0.088976  1.730786 -2.390423   440.871746
VOLUME_5  -0.092163  1.848977 -1.810006   452.669715
VOLUME_6  -0.100510  1.689065 -2.294692   292.893500
VOLUME_7  -0.084714  1.839735 -2.157253   333.758405
VOLUME_8  -0.087037  1.595809 -2.219663   191.951947
VOLUME_9  -0.090863  1.857236 -4.020258   389.035576
VOLUME_10 -0.092151  1.653412 -2.572906   220.736417
VOLUME_11 -0.084261  1.659034 -2.184149   271.947877
VOLUME_12 -0.080856  2.279505 -2.357872   667.283926
VOLUME_13 -0.075401  2.099580 -4.228308   453.627770
VOLUME_14 -0.072426  2.317314 -5.148646   575.527471
VOLUME_15 -0.085919  2.309389 -4.388973   658.209449
VOLUME_16 -0.076018  2.185741 -5.600056   355.613431
VOLUME_17 -0.087854  2.094459 -4.610393   408.771698
VOLUME_18 -0.076147  2.423121 -4.167784   788.461460
VOLUME_19 -0.076496  2.229668 -2.341887   631.249564
VOLUME_20 -0.076337  2.721355 -2.768928   932.939205
STOCK : 5350 catégories
INDUSTRY : 72 catégories
INDUSTRY_GROUP : 26 catégories
SUB_INDUSTRY : 175 catégories
SECTOR : 12 catégories

## First part

In [22]:
# 1. Calcul moyenne RET_1 groupée par SECTOR, DATE
mean_by_sector_date = (
    train
    .reset_index()  # Ramène 'ID' comme colonne si ce n’est pas déjà le cas
    .groupby(['SECTOR', 'DATE'])['RET_1']
    .mean()
    .reset_index()  # Nous donne SECTOR, DATE, MEAN_RET1
    .sort_values(['SECTOR', 'DATE'])
)

# 2. Ajout de la statistique décalée (shift=1) par SECTOR
mean_by_sector_date['MEAN_RET1_SECTOR_DATE'] = (
    mean_by_sector_date
    .groupby('SECTOR')['RET_1']
    .shift(1)
)

# 3. Merge avec le DataFrame d’origine
train_fe = (
    train
    .reset_index()  # Si l’index n’est pas déjà une colonne nommée 'ID'
    .merge(mean_by_sector_date[['SECTOR', 'DATE', 'MEAN_RET1_SECTOR_DATE']],
           on=['SECTOR', 'DATE'],
           how='left')
    .set_index('ID')  # Recrée l’index d’origine si besoin
)

print(train_fe[['SECTOR', 'DATE', 'RET_1', 'MEAN_RET1_SECTOR_DATE']].head())

    SECTOR  DATE     RET_1  MEAN_RET1_SECTOR_DATE
ID
0        3     0 -0.015748                    NaN
1        6     0  0.003984                    NaN
2        8     0  0.000440                    NaN
3        1     0  0.031298                    NaN
4        5     0  0.027273                    NaN

In [ ]:
target = 'RET'

n_shifts = 10  # If you don't want all the shifts to reduce noise
features = ['RET_%d' % (i + 1) for i in range(n_shifts)]
features += ['VOLUME_%d' % (i + 1) for i in range(n_shifts)]
features += new_features  # The conditional features
train[features].head()

We have a ton of rows—418,595 for training and 198,429 for testing. Each row is a stock, a day, with 46 descriptive things about it.

Quick Summary:
No missing data (no NaNs). Phew.
Columns are clean: we have dates, stock/sector names (that's the categorical stuff), and numbers (the 20 days of return RET and volume VOLUME).
The variable to predict (RET, the gain/loss sign) is perfectly balanced: like 50% gain, 50% loss. 
The returns (RET): super calm, mean is near zero, not much movement (standard deviation around 0.02).
The volumes (VOLUME): they go crazy sometimes, with really huge values (right-skewed distribution).
There are 500 stocks and 5 big sectors to deal with.
~20 INDUSTRY, ~10 INDUSTRY_GROUP, ~50 SUB_INDUSTRY, ~5 SECTOR.

We combined the training and test inputs. This helps us apply uniform pre-processing.
For categorical features, we used One-Hot Encoding on industries and sectors. We used simple integer encoding for the stock IDs.
We standardized all numerical features. This means we gave them zero mean and unit variance. This makes them comparable.
We did not need to handle initial NaNs. However, new features we created later did introduce some NaNs. We imputed these using the global mean.
We generated new features. These are conditional aggregated features. For example, we calculated the mean of returns by SECTOR. This helps capture sector trends and reduce noise.

This is a binary classification task. We need to predict the sign of the residual return.
We chose Logistic Regression as our baseline. It uses L2 regularization.
This model is easy to interpret. It's also fast and efficient for high-dimensional data. It sets a simple reference point.